.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  height: 10vh;
}

.container ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0;
}

.container ul li {
  list-style: none;
}
