.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  height: 10vh;
}

.container ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0;
}

.container ul li {
  list-style: none;
}

.conte .nav{
  justify-content: space-around;
}

.conte .navLink{
  padding: 0 ;
  margin: 0 10px;
  color: #0f93be;
}

.conte button{
  width: auto;
}