.container {
  position: relative;
  text-align: center;
}
.container section {
  margin: 0;
}

.mainHero {
  background-image: url("../assets/images/Bg2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.mainHero h1 {
  text-align: center;
  text-shadow: 2px 3px 10px black;
  font-size: 70px;
  padding: 50px 0 0 0;
  margin: 0;
}

.it {
  color: #3d788d;
}

.preDescription {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50%;
  border-radius: 5px;
  position: absolute;
  bottom: 140px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 3px 10px black;
}

.preDescription button {
  width: 300px;
  margin: 0;
}

.preDescription a {
  color: #fff;
  text-decoration: none;
}

.preDescription p {
  margin: 0 0 15px 0;
}

.moreInfo {
  width: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 20px;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #11191f;
  min-height: 100vh;
  background-image: url("../assets/images/aboutBgsvg.svg");
  background-position: 10px 100px;
  background-size: 700px;
}

.container h2 {
  margin: 40px 0;
  text-shadow: 2px 3px 10px black;
  font-size: 50px;
}

.aboutDescription {
  background-color: #0000009c;
  width: 40%;
  position: absolute;
  right: 100px;
  border-radius: 5px;
  text-align: center;
  margin: 200px 0;
}

.aboutDescription p {
  margin: 20px;
  font-size: 18px;
}

.service {
  background-color: #000000a2;
  min-height: 100vh;
  padding-top: 1px;
}

.aboutCardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  flex-wrap: wrap;
}

.aboutCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 15px;
  max-width: 360px;
  max-height: 350px;
}

.aboutCard p {
  max-width: 350px;
}

.icon {
  width: 70px;
  color: #76b4ca;
  margin-bottom: 20px;
}

/* Card UIVERSE */

.card {
  background-image: linear-gradient(163deg, #76b4ca 0%, #2017a0 100%);
  border-radius: 20px;
  transition: all 0.3s;
  margin: 20px;
}

.aboutCard {
  border-radius: 20px;
  transition: all 0.2s;
}

.aboutCard:hover {
  transform: scale(0.99);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
  cursor: pointer;
}

/* End */

.container footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  text-align: left;
}

.container h4 {
  margin: 20px 0;
}

.container footer ul li {
  list-style: none;
  font-size: 16px;
  text-align: left;
}

.container footer ul li a {
  color: #c8d1c8;
  text-decoration: none;
}

.container footer ul li a:hover {
  color: #3d788d;
}

.container footer .iconFooter {
  width: 30px;
}

.container .copy {
  margin: 0;
  font-size: 16px;
}

.webDesign {
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/webDesign.jpg");
  background-size: cover;
  background-position: center;
}

.pcFix {
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/pcRepair.jpg");
  background-size: cover;
  background-position: center;
}

.console {
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/PSRepair.jpeg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .container h2 {
    margin: 20px 0;
  }

  .container section {
    padding: 0;
  }

  .mainHero h1 {
    padding: 0;
    font-size: 60px;
    margin-top: 60px;
  }
  .preDescription {
    width: 90%;
    bottom: 85px;
  }

  .about {
    background-size: 100%;
    background-position: 0 150px;
    max-width: 100vh;
  }

  .aboutDescription {
    width: 90%;
    right: auto;
    bottom: 60px;
    margin: 0;
  }

  .aboutDescription p {
    font-size: 18px;
  }
}
