.mainHero{
    background-image: url('../assets/images/Bg2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.mainHero h1{
    text-align: center;
    text-shadow: 2px 3px 10px black;
    font-size: 70px;
    padding: 50px 0 0 0;
    margin: 0;
}

.it{
    color: #3d788d;
}

.preDescription{
    background-color: rgba(0, 0, 0, 0.60);
    width: 50%;
    border-radius: 5px;
    position: absolute;
    right: 30px;
    bottom: 40px;
    text-align: center;
    text-shadow: 2px 3px 10px black;
}

.container h2{
    margin: 0;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2{
    margin: 40px 0;
    text-shadow: 2px 3px 10px black;
    font-size: 50px;
}

.aboutDescription{
    background-color: rgba(0, 0, 0, 0.60);
    width: 70%;
    border-radius: 5px;
    text-align: center;
    margin: 40px 0;
}

.aboutDescription p{
    margin: 20px;
}

.aboutCardContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 60px 0;
    flex-wrap: wrap;
}

.aboutCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 5px;
    padding: 15px;
    max-width: 360px;
    max-height: 350px;
}

.aboutCard p{
    max-width: 350px;
}

.icon{
    width: 70px;
    color: #76b4ca;
    margin-bottom: 20px;
}

/* Card UIVERSE */

.card {
    
    background-image: linear-gradient(163deg, #76b4ca 0%, #2017a0 100%);
    border-radius: 20px;
    transition: all .3s;
    margin: 20px;
   }
   
   .aboutCard {
    border-radius: 20px;
    transition: all .2s;
   }
   
   .aboutCard:hover {
    transform: scale(0.99);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }

   /* End */ 